<div class="db-container">

    <mat-spinner *ngIf="isLoading"></mat-spinner>

    <app-artiste-quiz *ngIf="!isLoading && !isStripeLinked" 
        [isStripeLinked]="isStripeLinked" 
        [artisteExists]="artisteExists"
        [artisteId]="artisteId"></app-artiste-quiz>

    <mat-card *ngIf="!isLoading && isStripeLinked || headerWelcome" class="dashboard-card">

        <div class="welcome">
            <h3 *ngIf="headerWelcome">{{ headerWelcome }}</h3>
        </div>

        <mat-card-header>
            <mat-card-title>Your Earnings</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-card-subtitle>Total Tips: {{ totalTips | currency:'SGD' }}</mat-card-subtitle>
            <table mat-table [dataSource]="tips" class="mat-elevation-z2">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>Tip ID</th>
                    <td mat-cell *matCellDef="let tip">{{ tip.id }}</td>
                </ng-container>
                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef>Amount (SGD)</th>
                    <td mat-cell *matCellDef="let tip">{{ tip.amount | currency:'SGD' }}</td>
                </ng-container>
                <ng-container matColumnDef="paymentIntentId">
                    <th mat-header-cell *matHeaderCellDef>Transaction ID</th>
                    <td mat-cell *matCellDef="let tip">{{ tip.paymentIntentId }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>
        </mat-card-content>
        
    </mat-card>
</div>