.db-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
}

mat-card-title {
    font-size: 200%;
    margin: 20px auto;
    color: #000000;
    font-weight: bold;
    text-shadow: 
        0.8px 0.8px 0px rgba(98, 0, 234, 1),  
        -0.8px -0.8px 0px rgba(255, 49, 210, 1),
        0px 0px 8px rgba(255, 255, 255, 1); 
}

mat-card-subtitle {
    margin: 20px 0;
    color: #fff;
    font-size: 130%;
}

.dashboard-card {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
}

table {
    width: 100%;
}

th {
    color: #ffb4ab;
}

td {
    color: #333;
}