.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tip-card {
    max-width: 400px;
    padding: 10px;
}

mat-card-header {
    display: flex;
    justify-content: center;
}

mat-card-title {
    color: #6200ea;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 
    0.5px 0.5px 0px rgba(255, 255, 255, 0.8),  
    -0.5px -0.5px 0px rgba(255, 255, 255, 0.8),
    0.5px -0.5px 0px rgba(255, 255, 255, 0.8),
    -0.5px 0.5px 0px rgba(255, 255, 255, 0.8);
}

.full-width {
    width: 100%;
    margin-bottom: 15px;
}

.stripe-container {

    margin-bottom: 20px;

    label {
        display: block;
        font-size: 16px;
        color: #d81b60;
        margin-bottom: 20px;
    }

    #card-element {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: white;
    }
}

mat-card-actions {
    display: flex;
    justify-content: space-between;
}

/* button styles */
button {
    background-color: #6200ea;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2c0055;
}