<div class="card-container">
    <mat-card class="tip-card">
        <mat-card-header>
            <mat-card-title>Tip Vibees, Get Rewards!</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="form" (submit)="tipArtiste()">
    
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Vibee Name</mat-label>
                    <input matInput type="text" [(ngModel)]="artisteStageName" name="artisteStageName" formControlName="artisteStageName" placeholder="Enter Vibee's Stage Name">
                    <mat-error *ngIf="form.get('artisteStageName')?.hasError('required')">
                        Who are you vibing with today?
                    </mat-error>
                </mat-form-field>
    
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Your Name</mat-label>
                    <input matInput type="text" [(ngModel)]="tipperName" name="tipperName" formControlName="tipperName" placeholder="Enter your name (optional)">
                </mat-form-field>
    
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Your Email</mat-label>
                    <input matInput type="email" [(ngModel)]="tipperEmail" name="tipperEmail" formControlName="tipperEmail" placeholder="Enter your email (optional)">
                </mat-form-field>
    
                <mat-form-field appearance="fill" class="full-width">
                    <mat-label>Tip Amount (SGD)</mat-label>
                    <input matInput type="number" [(ngModel)]="amount" name="amount" formControlName="amount" placeholder="Enter amount">
                    <mat-error *ngIf="form.get('amount')?.hasError('required')">
                        Please enter a valid tip amount
                    </mat-error>
                    <mat-error *ngIf="form.get('amount')?.hasError('min')">
                        Minimum tip amount is 1.00 SGD
                    </mat-error>
                </mat-form-field>
    
                <div class="stripe-container">
                    <label>Card Details</label>
                    <div id="card-element"></div>
                </div>
    
                <mat-card-actions>
                    <button mat-raised-button type="submit" color="accent" [disabled]="form.invalid">Tip Now</button>
                </mat-card-actions>
    
                <div *ngIf="errorMsg || successMsg" class="feedback">
                    <mat-error *ngIf="errorMsg">{{ errorMsg }}</mat-error>
                    <span class="success-message" *ngIf="successMsg">{{ successMsg }}</span>
                </div>
    
            </form>
        </mat-card-content>
    </mat-card>
</div>