@use '@angular/material' as mat;
@import '@angular/material/prebuilt-themes/magenta-violet.css';

a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

button.mat-button {
    background-color: #6200ea; // Violet buttons
    color: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }