<div class="home-container">

    <mat-card class="hero">
        <mat-card-title>Welcome to VIBEY</mat-card-title>
        <div class="feedback" *ngIf="errorMsg">
            <mat-error>{{ errorMsg }}</mat-error>
        </div>
        <p class="tagline">Where Vibers fuel the show, Vibees rock the stage, and everyone enjoys exclusive perks 🎉</p>
        <p>Ready to roll? Explore our Quick Actions now!</p>
        <mat-card-actions>
            <button mat-raised-button color="primary" *ngIf="isVibee" [routerLink]="['/dashboard']" ><mat-icon>edit</mat-icon>View Dashboard</button>
            <button mat-raised-button color="primary" [routerLink]="['/vibees']" ><mat-icon>search</mat-icon>Explore Vibees</button>
            <button mat-raised-button color="primary" [routerLink]="['/tip']"><mat-icon>card_giftcard</mat-icon>Tip a Vibee</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="about">
        <mat-card-title>About VIBEY</mat-card-title>
        <div class="about-content">
            <div class="text">
                <p>VIBEY connects Vibers (the public) with Vibees (local artistes) in a street-to-digital ecosystem. Tip Vibees through us and you'll get exclusive access to artiste events and items!</p>
                <p>Launched in Singapore, VIBEY empowers Vibees with direct support, drives traffic to sponsors, and rewards Vibers—all in one seamless flow.</p>
            </div>
        </div>
    </mat-card>

</div>