.quiz-container { 
    max-width: 1200px;
    min-width: 800px;
    height: auto;
    padding: 30px;
    text-align: center; 
    background-color: rgba(0, 0, 0, 0.541);
    box-shadow: 
        0.8px 0.8px 0px rgba(98, 0, 234, 1),  
        -0.8px -0.8px 0px rgb(255, 49, 210, 1),
        0px 0px 8px rgba(255, 255, 255, 1);
}

mat-card-title {
    font-size: 200%;
    margin: 20px auto;
    color: #000000;
    font-weight: bold;
    text-shadow: 
        0.8px 0.8px 0px rgba(98, 0, 234, 1),  
        -0.8px -0.8px 0px rgb(255, 49, 210, 1),
        0px 0px 8px rgba(255, 255, 255, 1); 
}

mat-card-subtitle {
    margin: 15px 0;
    color: #fff;
    font-size: 130%;
}

mat-progress-bar { 
    margin: 15px 0; 
}

.step { 
    padding: 20px; 
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-form-field { 
    width: 100%;
    margin: 10px auto;
    input, textarea {
        padding: 10px;
    }
}

mat-button-toggle-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #350180;
    border-radius: 8px;
    padding: 10px;
    margin: 15px;
}

mat-button-toggle {
    border-radius: 8px;
    background-color: #350180;
    margin: 5px;
}

mat-button-toggle:hover {
    background-color: #6200ea;
}

mat-card-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* button styles */
button {
    transition: background-color 0.3s ease;
    margin: 10px auto;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 
        0.8px 0.8px 0px rgba(98, 0, 234, 1),  
        -0.8px -0.8px 0px rgba(255, 49, 210, 1),
        0px 0px 5px rgba(255, 255, 255, 1); 
}

button:hover {
    background-color: #6200ea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Raised shadow effect */
    transform: translateY(-3px); 
    box-shadow: 
        0.8px 0.8px 0px rgba(98, 0, 234, 1),  
        -0.8px -0.8px 0px rgba(255, 49, 210, 1),
        0px 0px 5px rgba(255, 255, 255, 1); 
}


.preview { 
    max-height: 250px;
    width: auto;
    margin: 10px auto; 
    display: block;
    border-radius: 8px;
    box-shadow:
        0.8px 0.8px 0px rgba(98, 0, 234, 1),  
        -0.8px -0.8px 0px rgba(255, 49, 210, 1),
        0px 0px 5px rgba(255, 255, 255, 1);
}

.img-input {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="file"] {
    display: none;  // hide default file input
}

.custom-file-input {
    padding: 10px 20px;
    background-color: #6200ea;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 10px;
}

.custom-file-input:hover {
    background-color: #3700b3;
}

.feedback {
    margin-top: 15px;
    display: flex;
    justify-content: center;

    mat-error {
        font-size: 14px;
    }
    .success-message {
        color: #91ffb6;
        font-size: 14px;
    }
}

mat-spinner {
    --mat-spinner-color: #E91E63;
}

.spinner-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}