.vibee-list-page {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.vibee-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
}
  
.vibee-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #00000098;
    transition: all 0.3s ease;
    box-shadow:
      0.8px 0.8px 0px rgba(98, 0, 234, 1),
      -0.8px -0.8px 0px rgba(255, 49, 210, 1),
      0px 0px 5px rgba(255, 255, 255, 1);
  
    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      transform: translateY(-3px);
      box-shadow:
        0.8px 0.8px 0px rgba(98, 0, 234, 1),
        -0.8px -0.8px 0px rgba(255, 49, 210, 1),
        0px 0px 10px rgba(255, 255, 255, 1);
    }

    img {
        width: 100px;
        height: auto;
        max-height: 100px;
        box-shadow:
            0.8px 0.8px 0px rgba(98, 0, 234, 1),
            -0.8px -0.8px 0px rgba(255, 49, 210, 1),
            0px 0px 5px rgba(255, 255, 255, 1);
    }
  
    mat-card-header {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
    }
  
    mat-card-title {
      font-size: 1.25rem;
      font-weight: 600;
      color: #ffffff;
      text-shadow:
        0.8px 0.8px 0px rgba(98, 0, 234, 1),
        -0.8px -0.8px 0px rgba(255, 49, 210, 1);
    }
  
    .categories {
      margin-bottom: 10px;
    }
  
    mat-chip-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  
    mat-chip {
      background-color: #350180;
      color: white;
      margin: auto 2px;
      display: flex;
    }

    mat-card-content p {
        display: -webkit-box; /* To allow multi-line truncation */
        -webkit-line-clamp: 3; /* Set the number of lines before truncation (adjust as needed) */
        -webkit-box-orient: vertical; /* Ensure the text is handled as a vertical box */
        overflow: hidden; /* Hide the text that overflows */
        text-overflow: ellipsis; /* Show ellipsis (...) */
        white-space: normal; /* Allow text to break onto new lines */
        color: #ffffff;
        font-size: 0.9rem;
    }

    mat-card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
  
    mat-card-actions {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
    }
  
    button {
      transition: all 0.3s ease;
      text-transform: uppercase;
      font-weight: bold;
      box-shadow:
        0.8px 0.8px 0px rgba(98, 0, 234, 1),
        -0.8px -0.8px 0px rgba(255, 49, 210, 1),
        0px 0px 5px rgba(255, 255, 255, 1);
  
      &:hover {
        background-color: #6200ea;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        transform: translateY(-3px);
        box-shadow:
            0.8px 0.8px 0px rgba(98, 0, 234, 1),
            -0.8px -0.8px 0px rgba(255, 49, 210, 1),
            0px 0px 5px rgba(255, 255, 255, 1);
      }
    }
}
  
.spinner-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.error-message {
    color: red;
    font-size: 1.2rem;
    text-align: center;
}

.search-bar {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}  