<div class="full-page">

  <mat-toolbar color="primary">
    <span>VIBEY</span>
    <div>
  
        <div *ngIf="authStore.authState$ | async as auth">
  
          <button mat-button routerLink="/home" *ngIf="auth.loggedIn">Home</button>
          <button mat-button routerLink="/vibees" *ngIf="auth.loggedIn">Vibees</button>
          <button mat-button routerLink="/tip-form">Tip a Vibee</button>
          <button mat-button routerLink="/dashboard" *ngIf="auth.loggedIn && auth.userRole === 'ARTISTE'">
            Dashboard</button>
          <button mat-button (click)="authStore.logout()" *ngIf="auth.loggedIn">Logout</button>
          <button mat-button routerLink="/" *ngIf="!auth.loggedIn">Login</button>
          <button mat-button routerLink="/register" *ngIf="!auth.loggedIn">Register</button>
  
        </div>
        
    </div>
  </mat-toolbar>
  <main>
    <router-outlet></router-outlet>
  </main>
  
  <footer class="footer">
    <p>© 2025 VIBEY. All rights reserved.</p>
  </footer>

</div>