<mat-card class="dashboard-card">

    <mat-card-header>
        <mat-card-title>Your Earnings</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <h3>Total Tips: {{ totalTips | currency:'SGD' }}</h3>
        <table mat-table [dataSource]="tips" class="mat-elevation-z2">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>Tip ID</th>
                <td mat-cell *matCellDef="let tip">{{ tip.id }}</td>
            </ng-container>
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef>Amount (SGD)</th>
                <td mat-cell *matCellDef="let tip">{{ tip.amount | currency:'SGD' }}</td>
            </ng-container>
            <ng-container matColumnDef="stripeChargeId">
                <th mat-header-cell *matHeaderCellDef>Transaction ID</th>
                <td mat-cell *matCellDef="let tip">{{ tip.stripeChargeId }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columns"></tr>
            <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>
    </mat-card-content>
    
</mat-card>