.login-card {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
}

mat-card-title {
    color: #6200ea;
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 
    0.5px 0.5px 0px rgba(255, 255, 255, 0.8),  
    -0.5px -0.5px 0px rgba(255, 255, 255, 0.8),
    0.5px -0.5px 0px rgba(255, 255, 255, 0.8),
    -0.5px 0.5px 0px rgba(255, 255, 255, 0.8);
}

.full-width {
    width: 100%;
    margin-bottom: 15px;
}

.feedback {
    margin-bottom: 20px;
    mat-error {
        font-size: 14px;
    }
    .success-message {
        color: #d81b60; // Purple
        font-size: 14px;
    }
}

mat-card-actions {
    display: flex;
    justify-content: center;
    gap: 15px;
}