.register-card {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    background-color: #0000007a;
}

mat-card-header {
    margin-bottom: 15px;
}

mat-card-title {
    font-size: 200%;
    margin: 20px auto;
    color: #FFF;
    font-weight: bold;
    text-shadow: 
        0.8px 0.8px 0px rgba(98, 0, 234, 1),  
        -0.8px -0.8px 0px rgba(255, 49, 210, 1),
        0px 0px 5px rgba(255, 255, 255, 0.5); 
}

.full-width {
    width: 100%;
    margin-bottom: 15px;
}

.feedback {
    margin-top: 15px;
    display: flex;
    justify-content: center;

    mat-error {
        font-size: 14px;
    }

    .success-message {
        color: #91ffb6;
        font-size: 14px;
    }
}

mat-card-actions {
    display: flex;
    justify-content: space-between;
}

/* button styles */
button {
    transition: background-color 0.3s ease;
    margin: 10px auto;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 
        0.8px 0.8px 0px rgba(98, 0, 234, 1),  
        -0.8px -0.8px 0px rgba(255, 49, 210, 1),
        0px 0px 5px rgba(255, 255, 255, 1); 
}

button:hover {
    background-color: #6200ea;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Raised shadow effect */
    transform: translateY(-3px); 
    box-shadow: 
        0.8px 0.8px 0px rgba(98, 0, 234, 1),  
        -0.8px -0.8px 0px rgba(255, 49, 210, 1),
        0px 0px 5px rgba(255, 255, 255, 1); 
}
