<mat-card class="register-card">
    <mat-card-header>
        <mat-card-title>Join the VIBEY family!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form" (submit)="register()">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Enter email">
                <mat-error *ngIf="form.get('email')?.hasError('required') || 
                    form.get('email')?.hasError('email') ||
                    form.get('email')?.hasError('maxlength')">Email must be a valid email address
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" placeholder="Enter username">
                <mat-error *ngIf="form.get('username')?.hasError('required') || 
                    form.get('username')?.hasError('minlength') ||
                    form.get('username')?.hasError('maxlength')">Username must be between 8 and 30 characters
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" placeholder="Enter password">
                <mat-error *ngIf="form.get('password')?.hasError('required') || 
                    form.get('password')?.hasError('minlength') ||
                    form.get('password')?.hasError('maxlength'); else patternError">Password must be between 12 and 42 characters
                </mat-error>

                <ng-template #patternError>
                    <mat-error *ngIf="form.get('password')?.hasError('pattern')">Password must contain at least 
                        1 uppercase, 1 lowercase, 1 digit, and 1 special characters
                    </mat-error>
                </ng-template>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Phone Number</mat-label>
                <input matInput formControlName="phoneNumber" placeholder="Enter phone number">
                <mat-error *ngIf="form.get('phoneNumber')?.hasError('required') || 
                    form.get('phoneNumber')?.hasError('pattern')">Phone number must be a valid Singapore number
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Role</mat-label>
                <mat-select formControlName="role">
                    <mat-option value="ARTISTE">Vibee</mat-option>
                    <mat-option value="TIPPER">Viber</mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('role')?.hasError('required')">
                    Please select a role
                </mat-error>
            </mat-form-field>
        
            <mat-card-actions>
                <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid">
                    Register
                </button>
                <button mat-raised-button color="primary" [routerLink]="(['/'])">
                    Back to Login
                </button>
            </mat-card-actions>

            <div *ngIf="error || successMsg" class="feedback">
                <mat-error *ngIf="error">Error {{ error.status }}: {{ error.message }}</mat-error>
                <span class="success-message" *ngIf="successMsg">{{ successMsg }}</span>
            </div>

        </form>
    </mat-card-content>
</mat-card>